<div class="row">
  <div class="col-sm-6 hidden-xs">

  </div>
  <div class="col-sm-6 ">
    <h1>Edit your profile</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>
      <%= display_base_errors resource %>

      <div class="form-group">
        <div class="row">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
          </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
      <% end %>

            
        <div class="row">
          <%= f.label :password %> <i><small>(leave blank if you don't want to change it)</small></i>
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>

        <div class="row">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

        <div class="row">
            <%= f.label :current_password %> <i><small>(we need your current password to confirm your changes)</small></i>
            <%= f.password_field :current_password, class: "form-control" %>
          </div>

      <div class="row">
          <%= f.submit "Update", class: "btn btn-block btn-lg submit-button btn-warning" %> <%= link_to "Cancel", inside_path %>
        </div>
 
      <% end %>
    </div>
  </div>
</div>