<div class="row">

  <div class="col-lg-6 ">
    <div class="dashboard-heading hidden-sm hidden-md hidden-lg">
      <h2>Edit Your Profile</h2>
    </div>
  
    <div class="dashboard-heading-xs hidden-xs">
      <h2>Edit Your Profile</h2>
    </div>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>
      <%= display_base_errors resource %>

    <div class="form-group">
      <div class="row">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
      <% end %>

            
        <div class="row">
          <%= f.label :password %> <i><small>(leave blank if you don't want to change it)</small></i>
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>

        <div class="row">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

        <div class="row">
            <%= f.label :current_password %> <i><small>(we need your current password to confirm your changes)</small></i>
            <%= f.password_field :current_password, class: "form-control" %>
          </div>

      <div class="row">
          <%= f.submit "Update", class: "btn btn-block btn-lg submit-button btn-warning" %>
        </div>
 
      <% end %>
       </div>

<% if !current_user.admin? %>
      <h2>Delete your profile</h2>
      <p class="white-txt" form-group>
  We hate to see you go. Once, you delete your account, you can't get your information back.<br>
  <%= link_to "Delete my account anyway", registration_path(resource_name), :confirm => "Are you sure? You can't come back from this!", :method => :delete, :class => "btn btn-md cancel btn-danger"%>
</p>
<% end %>
</div>

  </div>
</div>