    <%= simple_form_for @task do |f| %>

      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= f.input :task_name, :label => "Name",:required => true,  input_html:{ class: "form-control" } %>  

  <%= f.input :task_type, :label => "Type", :collection => @tasks , :group_method => @task.task_type, input_html:{ class: "form-control" }  %>

  <%=f.association :opportunity,:label => 'Opportunity Name', label_method: :opportunity_name, value_method: :id, include_blank: '-- Select One --', collection: Opportunity.accessible_by(current_ability)%>
  
  <%= f.label :due_date, :label => "Due Date"  %>
  <div class="form-inline">
    <%= f.date_select :task_due_date, {},{ class: "form-control" }  %>
  </div>
  <hr>
  <%= f.input :task_comments, :label => "Comments",  :as => :text, input_html:{ class: "form-control" }  %>
  <%= f.button :submit, class: "btn submit-button btn-lg btn-warning"  %>

<% end %>


