    <%= simple_form_for @task do |f| %>

      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= f.input :task_name, :required => true,  input_html:{ class: "form-control" } %>
  <%= f.input :task_due_date, :required => true, input_html:{ class: "form-control" }  %>
  <hr>
  <%= f.input :task_type, input_html:{ class: "form-control" }  %>
  <%= f.input :task_comments,  :as => :text, input_html:{ class: "form-control" }  %>
  <%= f.button :submit, class: "btn submit-button btn-lg btn-warning"  %>

<% end %>
