<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Task List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Task List </h2>
</div>

         
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">TASKS</h3>
              </div>
              <div class="panel-body">
                <small class="black-text"><%= page_entries_info @tasks %></small>
                <div class="list-group">
                  <% if @tasks.empty?%>
                 <div class="text-center black-text">
                  "<%= link_to "Add your first task here or click +Task".html_safe, new_task_path('messages')%>"
                </div>
                  <%end%>
              <% @tasks.each do |task| %>
             
              <div class="panel-heading black-text bg-info">
                    <strong><%=link_to task.task_name.to_s.upcase, task %></strong>
                    <p><span>Due Date: <%= task.task_due_date.to_s.upcase%></span> </p>
                    <p><span>Type: <%==task.task_type.to_s.capitalize%></span> </p>
                    <p><span>Comments: <%=task.task_comments.to_s.capitalize%></span></p>
                       <%= link_to 'Edit', edit_task_path(task) %>|<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Show', task %>
              </div>
              <hr>
                <% end %>
                <%= paginate @tasks , :window => 2%>
                </div>
              </div>
            </div>


<%= render 'layouts/dashboard_bottom'%>
