<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Task List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Task List </h2>
</div>


<div class="panel panel-info hidden-md hidden-lg">
  <div class="panel-heading">
    <h3 class="panel-title">Tasks - Sort by <%= content_tag :th, sort_link(@q, :task_name, 'Name', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :opportunity_id, 'Opportunity', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :task_type, 'Type', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :task_status, 'Status', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :task_due_date, 'Due Date', default_order: :desc) %></h3>
  </div>
  <div class="panel-body">
    <small class="black-text"><%= page_entries_info @tasks%></small>
    <div class="list-group">
       <% if @tasks.empty?%>
                 <br>
                 <div class="text-center black-text">
                  <%= link_to "Add your first task here or click +Task".html_safe, new_task_path%>
                </div>
                  <%end%>
      <% @tasks.each do |task| %>
      <div class ="">
        <div class="panel-heading black-text bg-info">
           <table class="black-text table-responsive table-condensed table table-bordered white-bg">
              <tr>
                <th>Name:</th>
                <th><%= link_to task.task_name.upcase, task %></th>
              </tr>
              <tr>
                <td>Opportunity-Account:</td>
                <td><%= link_to task.opportunity.opportunity_name.to_s.upcase, task.opportunity%> - <%= link_to task.opportunity.account.account_name.capitalize, task.opportunity.account%></td>
              </tr>
               <tr>
                <td>Type:</td>
                <td><%= task.task_type.to_s.titlecase %></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td><%= task.task_status.to_s.titlecase %></td>
              </tr>
              <tr>
                <td>Due Date:</td>
                <td><%= task.task_due_date.to_s.titlecase%></td>
              </tr>
              <tr>
                <td>Comments:</td>
                <td><%=task.task_comments.to_s.humanize%></td>
              </tr>
              <tr>
                <td>
            <strong><%= link_to 'Edit', edit_task_path(task) %>|<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
            </td>
            <td>
            </td>
              </tr>
            </table>

        </div>
        
      </div>
      <% end %>
      <%= paginate @tasks , :window => 2%>
    </div>
  </div>
</div>


<div class="panel panel-info hidden-xs hidden-sm">
  <div class="panel-heading"><h3 class="panel-title">Tasks</h3></div>
  <div class="panel-body">
    <p><small class="black-text task-info"><%= page_entries_info @tasks%></small></p>
    <%= paginate @tasks , :window => 2%>
  </div>
  <table class="table black-text table-striped white-bg">
    </tr>
      <th><%= sort_link(@q, :task_name, 'Name', default_order: :desc) %></th>
      <th><%= sort_link(@q, :opportunity_id, 'Opportunity - Account', default_order: :desc) %></th>
      <th><%= sort_link(@q, :task_type, 'Type', default_order: :desc) %></th>
      <th><%= sort_link(@q, :task_status, 'Type', default_order: :desc) %></th>
      <th><%= sort_link(@q, :task_due_date, 'Due Date', default_order: :desc) %></th>
      <th>Comments</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
   <% @tasks.each do |task| %>
    </tr>
      <td><%=link_to task.task_name.to_s.upcase, task %></td>
     <td><%= link_to task.opportunity.opportunity_name.to_s.upcase, task.opportunity%> - <%= link_to task.opportunity.account.account_name.capitalize, task.opportunity.account%></td>
    <td><%=task.task_type.to_s.titlecase %></td>
    <td><%=task.task_status.to_s.titlecase %></td>
    <td><%= task.task_due_date.to_s.titlecase%></td>
     <td><%=task.task_comments.to_s.humanize%></td>
     <td><%= link_to 'Edit', edit_task_path(task) %></td>
     <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
<div id="pagination">
<%= paginate @tasks , :window => 2 %>
</div>
</div>
<p class="white-txt">
  Download:
  <%= link_to "CSV", tasks_path(format: "csv") %> |
  <%= link_to "Excel", tasks_path(format: "xls") %>
</p>
<%= render 'layouts/dashboard_bottom'%>
