<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Task</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Task</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Task Details</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
<div class="panel-heading black-text bg-info">
  <strong><%= @task.task_name.to_s.upcase%></strong>
                    <p><span>Due Date: <%= @task.task_due_date.to_s.titlecase %></span> </p>
                    <p><span>Opportunity: <%= link_to @task.opportunity.opportunity_name.to_s.upcase, @task.opportunity%></span></p>
                    <p><span>Type: <%==@task.task_type.to_s.capitalize%></span> </p>
                    <p>Status: <%= @task.task_status.to_s.titlecase %></p>
                    <p><span>Comments: <%=@task.task_comments.to_s.humanize%></span></p>
                       <strong><%= link_to 'Edit', edit_task_path(@task) %>|<%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
              </div>
        </div>
      </div>
    </div>

<%= render 'layouts/dashboard_bottom'%>