<%= simple_form_for @lead do |f| %>

      <% if @lead.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
          <% @lead.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= f.input :lead_interested_in, :required => true,  input_html:{ class: "form-control" } %>
  <%= f.input :lead_comments, :as => :text, :required => true, input_html:{ class: "form-control" }  %>
   <hr>
   <%= f.label :lead_status %>
  <%= f.select :lead_status, options_for_select([['New', 'new'], ['Contacted', 'contacted'], ['Qualified', 'qualified'], ['Disqualified', 'disqualified']]), {:include_blank => '-- Select One --'}, { class: "form-control" }  %>
     <%= f.label :lead_source %>
  <%= f.select :lead_source, options_for_select([['Web Lead', 'web'], ['Phone', 'phone'], ['Referral', 'referral'], ['Conference', 'conference']]), {:include_blank => '-- Select One --'}, { class: "form-control" }  %>
  <%= f.input :lead_account_name, input_html:{ class: "form-control" }  %>
  <%= f.input :lead_opportunity_name, input_html:{ class: "form-control" }  %>
  <%= f.button :submit, class: "btn submit-button btn-lg btn-warning"  %>
<% end %>