<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Edit Customer</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Edit Customer</h2>
</div>
<h3><%= @customer.customer_first_name + " " + @customer.customer_last_name%></h3>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>

<%= render 'layouts/dashboard_bottom'%>