<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Contact List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Contact List</h2>
</div>

<table class="table table-condensed" width="647px">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Edit Contact</th>
      <th>Delete Contact</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.customer_first_name.to_s.capitalize + " " + customer.customer_last_name.to_s.capitalize, customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/dashboard_bottom'%>