<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Contact</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Contact</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Details</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
<div class="panel-heading black-text bg-info">
<div class ="">
  <table class="black-text table-responsive table-bordered table-condensed table table-condensed white-bg">
              <tr>
                <th>Name:</th>
                <th><%= link_to @customer.customer_first_name.upcase + " " + @customer.customer_last_name.upcase, @customer %></th>
              </tr>
              <tr>
                <td>Account:</td>
                <td><%= link_to @customer.account.account_name.to_s.upcase, @customer.account %></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><a href="mailto:<%= @customer.customer_email.to_s.downcase %>"><%= @customer.customer_email.to_s.downcase %></a></td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td><%= @customer.customer_phone.to_s %></td>
              </tr>
              <tr>
                <td>Address:</td>
                <td><address>Address:<%= @customer.customer_address.to_s.titlecase %>
            <%= @customer.customer_city.to_s.titlecase %>
            <%= @customer.customer_state.to_s.titlecase %>
            <%= @customer.customer_country.to_s.titlecase %> <%= @customer.customer_postcode.to_s %></address></td>
              </tr>
              <tr>
                <td>
            <strong><%= link_to 'Edit', edit_customer_path(@customer), :class => 'btn btn-info btn-sm' %><%= link_to 'Delete', @customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger delete_btn btn-sm' %></strong>
            </td>
            <td>
            </td>
              </tr>
            </table>
        </div>
      </div>
    </div>
    </div>
    </div>

<%= render 'layouts/dashboard_bottom'%>