<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Contact</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Contact</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Details</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
<div class="panel-heading black-text bg-info">
<div class ="">
  <strong><%= @customer.customer_first_name.to_s.upcase%> <%= @customer.customer_last_name.to_s.upcase%></strong>
          <address>
            <abbr title="Address">A:</abbr><%= @customer.customer_address.to_s.capitalize %> <br>
            <%= @customer.customer_city.to_s.capitalize %><br>
            <%= @customer.customer_state.to_s.capitalize %>
            <%= @customer.customer_country.to_s.capitalize %>, <%= @customer.customer_postcode.to_s.capitalize %><br>
            <abbr title="Phone">P:</abbr><%= @customer.customer_phone.to_s.capitalize %><br>
            <abbr title="Email">E:</abbr><a href="mailto:<%= @customer.customer_email.to_s.downcase %>"><%= @customer.customer_email.to_s.downcase %></a><br>
          </address>
          <p>Account: <%= link_to @customer.account.account_name.to_s.upcase, @customer.account %></p>
          <strong><%= link_to 'Edit', edit_customer_path(@customer) %> | <%= link_to 'Delete', @customer, method: :delete, data: { confirm: 'Are you sure?' } %> </strong>
        </div>
      </div>
    </div>
    </div>
    </div>

<%= render 'layouts/dashboard_bottom'%>