
<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Dashboard</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Dashboard</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-check-square-o fa-3x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <strong><p class="announcement-heading"><%=@tasks.count%></p></strong>
                  </div>
                </div>
              </div>
              
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong><%= link_to 'Tasks!', tasks_path %></strong>
                    </div>

                    <div class="col-xs-6 text-right">
                      
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-group fa-3x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <strong><p class="announcement-heading"><%=@customers.count%></p></strong>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong><%= link_to 'Contacts', customers_path %></strong>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-dollar fa-3x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <strong><p class="announcement-heading"><%=@opportunities.count%></p></strong>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong><%= link_to 'Opportunities', opportunities_path %></strong>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-building-o fa-3x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <strong><p class="announcement-heading"><%=@accounts.count%></p></strong>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong><%= link_to 'Accounts', accounts_path %></strong>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->        
<% if @accounts.empty? && @opportunities.empty? && @customers.empty?%>
 <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Start by adding your first account <%= link_to "here".html_safe, new_account_path%> or click +Account
</div>
 <% elsif @opportunities.empty? && @customers.empty?%>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 Now you have an account you can add <%= link_to "contacts".html_safe, new_customer_path%> and <%= link_to "opportunities".html_safe, new_opportunity_path%>.
</div>
 <% elsif @opportunities.empty?%>
 <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Tasks can be added once you've added an opportunity, add one <%= link_to "here".html_safe, new_opportunity_path%> or click +Opportunity
 </div>   
 <% else %>
 <div class="row">
          
          <div class="col-sm-6">

            <div class="panel panel-info dash-panel">
              <div class="panel-heading">
                <h3 class="panel-title">OPPORTUNITIES by stage</h3>

              </div>

              <div class="panel-body">
                <div class="list-group">
                <% if @opportunities.empty?%>
                 <br>
                 <div class=" black-text text-center">
                  <%= link_to "Your pipeline is empty, add an opportunity".html_safe, new_opportunity_path%>
                </div>
              <%end%>
                <div class="panel-heading hidden-xs hidden-lg hidden-sm black-text bg-info">
                    <%= column_chart @opportunities.group(:opportunity_stage).sum(:opportunity_amount), colors: [ "#2ecc71"]  %>
                </div>
                <div class="panel-heading hidden-sm hidden-md hidden-lg black-text bg-info">
                    <%= column_chart @opportunities.group(:opportunity_stage).sum(:opportunity_amount), colors: [ "#2ecc71"] %>
                </div>
                <div class="panel-heading hidden-xs hidden-md hidden-lg black-text bg-info">
                    <%= column_chart @opportunities.group(:opportunity_stage).sum(:opportunity_amount), colors: [ "#2ecc71"] %>
                </div>
                <div class="panel-heading hidden-xs hidden-md hidden-sm black-text bg-info">
                    <%= column_chart @opportunities.group(:opportunity_stage).sum(:opportunity_amount), colors: [ "#2ecc71"] %>
                </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-sm-6">

            <div class="panel panel-info dash-panel">
              <div class="panel-heading">
                <h3 class="panel-title">OPPORTUNITIES by Closing Date</h3>

              </div>

              <div class="panel-body">
                <div class="list-group">
                <% if @opportunities.empty?%>
                 <br>
                 <div class=" black-text text-center">
                  <%= link_to "Your pipeline is empty, add an opportunity".html_safe, new_opportunity_path%>
                </div>
              <%end%>
               
                <table class="table black-text table-striped white-bg">
    </tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>Closing Date</th>
     </tr>
   <% @opportunities.order(opportunity_closing_date: :asc).each do |opportunity| %>
    </tr>
      <td><%=link_to opportunity.opportunity_name.to_s.upcase, opportunity%></td>
     <td><%= link_to opportunity.account.account_name.to_s.upcase, opportunity.account %></td>
     <td><%= opportunity.opportunity_closing_date.to_s.titlecase %></td>
    </tr>
    <% end %>
  </table>

                </div>
              </div>
            </div>
            
          </div><div class="col-sm-6">

            <div class="panel panel-info dash-panel">
              <div class="panel-heading">
                <h3 class="panel-title">OPPORTUNITIES by Value</h3>

              </div>

              <div class="panel-body">
                <div class="list-group">
                <% if @opportunities.empty?%>
                 <br>
                 <div class=" black-text text-center">
                  <%= link_to "Your pipeline is empty, add an opportunity".html_safe, new_opportunity_path%>
                </div>
              <%end%>
                            <table class="table black-text table-striped white-bg">
                    </tr>
                      <th>Name</th>
                      <th>Account Name</th>
                      <th>Value</th>
                     </tr>
                   <% @opportunities.order(opportunity_amount: :desc).each do |opportunity| %>
                    </tr>
                      <td><%=link_to opportunity.opportunity_name.to_s.upcase, opportunity%></td>
                     <td><%= link_to opportunity.account.account_name.to_s.upcase, opportunity.account %></td>
                     <td>$<%= opportunity.opportunity_amount.to_s.titlecase %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-sm-6">

            <div class="panel panel-info dash-panel">
              <div class="panel-heading">
                <h3 class="panel-title">TASKS by type</h3>

              </div>

              <div class="panel-body">
                <div class="list-group">
                <% if @tasks.empty? && !@opportunities.empty?%>
                 <br>
                 <div class=" black-text text-center">
                  <%= link_to "Your task list is empty, add a task".html_safe, new_task_path%>
                </div>
              <%elsif @tasks.empty? && @opportunities.empty?%>
              <br><br>
              <%end%>
                <div class="panel-heading hidden-xs hidden-lg hidden-sm black-text bg-info">
                    <%= column_chart @tasks.group(:task_type).count, colors: [ "#2ecc71"]  %>
                </div>
                <div class="panel-heading hidden-sm hidden-md hidden-lg black-text bg-info">
                    <%= column_chart @tasks.group(:task_type).count, colors: [ "#2ecc71"] %>
                </div>
                <div class="panel-heading hidden-xs hidden-md hidden-lg black-text bg-info">
                    <%= column_chart @tasks.group(:task_type).count, colors: [ "#2ecc71"] %>
                </div>
                <div class="panel-heading hidden-xs hidden-md hidden-sm black-text bg-info">
                    <%= column_chart @tasks.group(:task_type).count, colors: [ "#2ecc71"] %>
                </div>
                </div>
              </div>
            </div>
            
          </div>
        </div><!-- /.row -->

 <!--        <div class="row">
          
          <div class="col-lg-6">

                        <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">TASKS - Sort by <%= content_tag :th, sort_link(@q, :task_name, 'Name', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :task_due_date, 'Due Date', default_order: :desc) %></h3>

              </div>

              <div class="panel-body">
                <small class="black-text"><%= page_entries_info @tasks1 %></small><br>
                <small class="black-text"></small>
                <div class="list-group">
                <% if @tasks.empty?%>
                 <br>
                 <div class=" black-text">
                  "<%= link_to "Add your first task here or click +Task".html_safe, new_task_path%>"
                </div>
                <br>
                  <%end%>
              
              <% @tasks1.each do |task| %>
             
                       <div class="task black-text">
             <table class="black-text table-responsive table table-condensed white-bg">

              <tr>
                <th><strong>Name:</strong></th>
                <th><strong><%= link_to task.task_name.to_s.upcase, task%></strong></th>
              </tr>
              <tr>
                <td>Due Date:</td>
                <td><%=task.task_due_date.to_s.upcase  %></td>
              </tr>
              <tr>
                <td>Type:</td>
                <td><%==task.task_type.to_s.capitalize%></td>
              </tr>
              <tr>
                <td>Comments:</td>
                <td><%=task.task_comments.to_s.capitalize%></td>
              </tr>
              
            <tr>
              <td> <strong><%= link_to 'Edit', edit_task_path(task) %>|<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Show', task %></strong></td>
              <td>
              </td>
          </tr>
            </table>
           
            </div>

            
             
                <% end %>
                
                <%= paginate @tasks1 , :window => 2%>

                </div>
              </div>
            </div>
            
          </div>
          
          <div class="col-lg-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">OPPORTUNITIES - Sort by <%= content_tag :th, sort_link(@q, :opportunity_name, 'Name', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :opportunity_closing_date, 'Close Date', default_order: :desc) %></h3>
              </div>
              <div class="panel-body">
                <small class="black-text task-info"><%= page_entries_info @opportunities1 %></small>
                <div class="list-group">
                  <% if @opportunities.empty?%>
                  <br>
                  <div class="black-text">
                  "<%= link_to "Add your first opportunity here or click +Opportunity".html_safe, new_opportunity_path%>"
                </div>
                  <%end%>
              <% @opportunities1.each do |opportunity| %>
              
              <div class="task black-text">
                     <table class="black-text table-responsive table table-condensed white-bg">

                        <tr>
                          <th>Name:</th>
                          <th><%=link_to opportunity.opportunity_name.to_s.upcase, opportunity%></th>
                        </tr>

                        <tr>
                          <td>Account:</td>
                          <td><%= link_to opportunity.account.account_name.to_s.titlecase, opportunity.account %></td>
                        </tr>

                        <tr>
                          <td>Close Date:</td>
                          <td><%= opportunity.opportunity_closing_date.to_s.capitalize %></td>
                        </tr>

                        <tr>
                          <td>Stage:</td>
                          <td><%==opportunity.opportunity_stage.to_s.capitalize%></td>
                        </tr>

                        <tr>
                          <td>Amount:</td>
                          <td>$<%= opportunity.opportunity_amount.to_s.capitalize%></td>
                        </tr>

                        <tr>
                          <td>Probability:</td>
                          <td><%= opportunity.opportunity_probability.to_s.capitalize%></td>
                        </tr>

                        <tr>
                          <td>Comments:</td>
                          <td><%=opportunity.opportunity_comments.to_s.capitalize%></td>
                        </tr>

                      <tr>
                        <td><strong><%= link_to 'Edit', edit_opportunity_path(opportunity) %>|<%= link_to 'Delete', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Show', opportunity %></strong></td>
                        <td></td>
                      </tr>

                  </table>
           
                  </div>

                <% end %>

                <%= paginate @opportunities1 , :window => 2%>
                </div>
                
              </div>

            </div>
 
          </div></div>

        </div><!-- /.row --> 

<%end%>
<%= render 'layouts/dashboard_bottom'%>
