<%= render 'layouts/dashboard_top'%>
<div class="nav navbar">
<%= link_to '+ Account', new_account_path, class: "btn submit-button btn-md btn-success" %>
<%= link_to '+ Customer', new_customer_path, class: "btn submit-button btn-md btn-success" %>
<%= link_to '+ Opportunity', new_opportunity_path, class: "btn submit-button btn-md btn-success" %>
</div>
<%= render 'layouts/dashboard_bottom'%>

