<% title("Feedback") %>
<div class="row">
<div class="col-sm-6 white-txt">
        <h1>Give us feedback</h1>
        <h2>It helps us make a better product</h2>
        <p>We're adding new features to Hooha as often as daily, your feedback helps us choose what to focus on. You never know we might give you credit if it's a really great idea!</p> 
               
      </div>


    <div class="col-sm-6 text-left" id = "titlewrap">
    <%= simple_form_for @contact, :html => {:class => ""} do |f| %>
    <div class="form-group text-left">
        
        <div class="row">
          <%= f.label :name %>
            <%= f.text_field :name , class: "form-control" %>  
        </div>

        
        <div class="row">
          <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>  
          </div>
      
          <div class="row">
              <%= f.label :message %>
             <%= f.text_area :message, :as => :text, :required => true, :rows => 8, class: "form-control" %>
         </div>


        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>

      <div class="row">
          <%= f.button :submit, "Send Message", class: "btn submit-button btn-lg btn-block btn-warning" %>
        </div>
    </div>
  <% end %>
    </div>
        </div>