<div class="row">
<div class="col-sm-6 hidden-xs">
        <h1>Help us make Hooha better</h1>
        <h2>Heading One</h2>
        <p>Vice VHS single-origin coffee biodiesel 90's. 90's sustainable leggings artisan umami VHS. Banksy distillery 90's fixie, banjo sriracha Tonx Etsy authentic occupy cornhole butcher. Ethnic tousled gentrify, artisan raw denim drinking trade four loko art party meggings ennui, bitters hashtag deep v Banksy yr +1.
        </p>
        <h2>Heading Two</h2>
        <p>Truffaut scenester freegan, lomo fixie fap cliche fingerstache pour-over Marfa whatever. Messenger bag Pinterest selfies, viral small batch mumblecore Godard Schlitz Kickstarter. Austin mixtape master cleanse, Truffaut Helvetica twee single-origin coffee wayfarers ethnic aesthetic High Life. PBR Tumblr 8-bit tofu.</p>
        <h2>Heading Three</h2>
        <p>Vinyl retro fap pickled. Pop-up American Apparel bicycle rights small batch Vice Helvetica. McSweeney's roof party XOXO ugh, farm-to-table occupy kogi normcore butcher. Narwhal wolf gluten-free gentrify photo booth. Tousled organic selfies, Helvetica freegan messenger bag try-hard Thundercats tofu. Paleo.</p>
      </div>

    <div class="col-sm-6 text-left" id = "titlewrap">
    <h1 class="text-left">Give us feedback</h1>

    <div class="form-group text-left">
    <%= simple_form_for @contact, :html => {:class => ""} do |f| %>
      
      <div class="form-group text-left">
        <%= f.label :name %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :name , class: "form-control" %>  
          </div>
        </div>
      </div>

    <div class="form-group text-left">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, class: "form-control" %>  
          </div>
        </div>
      </div>
      
      <div class="form-group text-left">
        <%= f.label :message %>
          <div class="row">
            <div class="col-sm-6">    
             <%= f.text_area :message, :as => :text, :required => true, :rows => 8, class: "form-control feedback" %>
         </div>
        </div>
      </div>

    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.button :submit, "Send Message", class: "btn btn-block btn-warning" %>
        </div>
      </div> 
    </div>
  <% end %>
    </div>
        </div>