<%= simple_form_for @opportunity do |f| %>

  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :opportunity_name, :label => "Name",:required => true,  input_html:{ class: "form-control" } %>
<%=f.association :account, :label => 'Account Name', label_method: :account_name,  value_method: :id, :required => true, include_blank: '-- Select One --', collection: Account.accessible_by(current_ability) %>
<hr>
<%= f.input :opportunity_amount, as: :decimal, :label => "Amount ($)", input_html:{ class: "form-control" }  %>
<%= f.input :opportunity_stage, :label => "Stage", :collection => [['Lead', 'lead'],['Appointment', 'appointment'],['Qualified', 'qualified'], ['Presentation', 'presentation'], ['Negotiation', 'negotiation'], ['Closed/Won','closed_won'], ['Closed/Lost', 'closed_lost'], ['Referral', 'referral']], :group_method => @opportunity.opportunity_stage, input_html:{ class: "form-control" }  %>
<%= f.input :opportunity_probability, :label => "Probability", :collection => [['High', 'high'], ['Medium', 'medium'], ['Low', 'Low']], :group_method => @opportunity.opportunity_probability,  input_html:{ class: "form-control" }  %>
<%= f.input :opportunity_comments, :label => "Comments",  :as => :text, input_html:{ class: "form-control"}  %>
<%= f.label :opportunity_closing_date , :label => "Close Date"%>

<div class="form-inline">
    <%= f.date_select :opportunity_closing_date, {},{ class: "form-control" }  %>
</div>

<%= f.button :submit, :label => "Submit", class: "btn submit-button btn-lg btn-warning"  %>

<% end %>