<%= simple_form_for @opportunity do |f| %>

      <% if @opportunity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
          <% @opportunity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= f.input :opportunity_name, :required => true,  input_html:{ class: "form-control" } %>
  <%= f.input :account_name, :required => true, input_html:{ class: "form-control" }  %>
  <%= f.input :amount, input_html:{ class: "form-control" }  %>
  <%= f.input :stage, input_html:{ class: "form-control" }  %>
  <%= f.input :owner, :required => true, input_html:{ class: "form-control" }  %>
  <%= f.input :probability, input_html:{ class: "form-control" }  %>
  <%= f.input :contact_name, input_html:{ class: "form-control" }  %>
  <%= f.input :comments,  :as => :text, input_html:{ class: "form-control"}  %>
  <%= f.input :closing_date, input_html:{ class: "form-control" }  %>
  <%= f.button :submit, class: "btn submit-button btn-lg btn-warning"  %>

<% end %>