<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Opportunity List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Opportunity List </h2>
</div>

<div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">OPPORTUNITIES - Sort by <%= content_tag :th, sort_link(@q, :opportunity_name, 'Name', default_order: :desc) %> - <%= content_tag :th, sort_link(@q, :opportunity_closing_date, 'Closing Date', default_order: :desc) %></h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <small class="black-text"><%= page_entries_info @opportunities %></small>
                  <br>
                  <% if @opportunities.empty?%>
                 <div class="text-center black-text">
                  "<%= link_to "Add your first opportunity here or click +Opportunity".html_safe, new_opportunity_path('messages')%>"
                </div>
                  <%end%>
              <% @opportunities.each do |opportunity| %>
             
              <div class="panel-heading black-text bg-info">
                    <strong><%=link_to opportunity.opportunity_name.to_s.upcase, opportunity%></strong>
                    <p><span>Close Date: <%= opportunity.opportunity_closing_date.to_s.capitalize %></span> </p>
                    <p><span>Stage: <%==opportunity.opportunity_stage.to_s.capitalize%></span> </p>
                    <p><span>Probability: <%= opportunity.opportunity_probability.to_s.capitalize%></span></p>
                    <p><span>Comments: <%=opportunity.opportunity_comments.to_s.capitalize%></span></p>
                       <%= link_to 'Edit', edit_opportunity_path(opportunity) %>|<%= link_to 'Delete', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Show', opportunity %>
              </div>
              <hr>
                <% end %>
                <%= paginate @opportunities , :window => 2%>
                </div>
              </div>
            </div>
<%= render 'layouts/dashboard_bottom'%>
