<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Opportunity</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Opportunity</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @opportunity.opportunity_name.to_s.upcase%></h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="panel-heading black-text bg-info">
                    <p>Account: <%= link_to @opportunity.account.account_name.to_s.titlecase, @opportunity.account %></p>
                    <p><span>Close Date: <%= @opportunity.opportunity_closing_date.to_s.capitalize %></span> </p>
                    <p><span>Stage: <%==@opportunity.opportunity_stage.to_s.capitalize%></span> </p>
                    <p><span>Probability: <%= @opportunity.opportunity_probability.to_s.capitalize%></span></p>
                    <p><span>Amount: <%= @opportunity.opportunity_amount.to_s.capitalize%></span></p>
                    <p><span>Comments: <%= @opportunity.opportunity_comments.to_s.capitalize%></span></p>
                       <%= link_to 'Edit', edit_opportunity_path(@opportunity) %>|<%= link_to 'Delete', @opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <h3>Tasks</h3>
                                

                            <table class="black-text table-responsive table-bordered table table-condensed white-bg">
                            <tr>
                              <th>Name</th>
                              <th>Due Date</th>
                            </tr>
                            <% @opportunity.tasks.each do |task| %>
                            <tr>
                              <td><%= link_to task.task_name.upcase, task %></td>
                              <td><%= link_to task.task_due_date, task %></td>
                            </tr>
                            <% end %>
                            </table>
                            <% if @opportunity.tasks.empty?%>
                                 <div class="text-center black-text bordered-table white-bg">
                                  "<%= link_to "Add your first task here or click +Task".html_safe, new_task_path%>"
                                </div>
                                <%end%>

                            <h3>Contacts</h3>
                                

                            <table class="black-text table-responsive table-bordered table table-condensed white-bg">
                            <tr>
                              <th>Name</th>
                            </tr>
                            <% @opportunity.customers.each do |customer| %>
                            <tr>
                              <td><%= link_to customer.customer_first_name.upcase, customer %></td>
                            </tr>
                            <% end %>
                            </table>
                            
                      
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/dashboard_bottom'%>