<%= render 'layouts/dashboard_top'%>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
<%= render 'layouts/dashboard_bottom'%>