<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Opportunity</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Opportunity</h2>
</div>
<% if current_user.present? %>
          <div class="row">
            <div class="col-sm-12 text-center">
            <%= render 'layouts/messages'%>
        </div>
            </div>
          <% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Opportunity Details</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="panel-heading black-text bg-info">
                  <h3>Name: <%=@opportunity.opportunity_name.to_s.upcase%></h3>        
                     <table class="black-text table-responsive table-condensed table table-bordered white-bg">
              <tr>
                <td>Account:</td>
                <td><%= link_to @opportunity.account.account_name.to_s.upcase, @opportunity.account %></td>
              </tr>       
                <tr>
                <td>Close Date:</td>
                <td><%= @opportunity.opportunity_closing_date.to_s.titlecase %></td>
              </tr>
              <tr>
                <td>Stage:</td>
                <td><%==@opportunity.opportunity_stage.to_s.capitalize%></td>
              </tr>
              <tr>
                <td>Amount:</td>
                <td>$<%= @opportunity.opportunity_amount.to_s.capitalize%></td>
              </tr>
              <tr>
                <td>Probability:</td>
                <td><%= @opportunity.opportunity_probability.to_s.capitalize%></td>
              </tr>
              <tr>
                <td>Comments:</td>
                <td><%= @opportunity.opportunity_comments.to_s.humanize%></td>
              </tr>
            <tr>
              <td> <strong><%= link_to 'Edit', edit_opportunity_path(@opportunity), :class => 'btn btn-info  btn-sm' %><%= link_to 'Delete', @opportunity, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger delete_btn btn-sm' %></strong></td>
              <td></td>
          </tr>
            </table>





                          <h3>Tasks</h3>
                                

                            <table class="black-text table-responsive table-bordered table table-condensed white-bg">
                            <tr>
                              <th>Name</th>
                              <th>Due Date</th>
                            </tr>
                            <% @opportunity.tasks.each do |task| %>
                            <tr>
                              <td><%= link_to task.task_name.upcase, task %></td>
                              <td><%= task.task_due_date.to_s.titlecase %></td>
                            </tr>
                            <% end %>
                            </table>
                          
                                <%= link_to "<span class=\"fa fa-plus\">    Task</span>".html_safe, new_task_path, :class => 'btn btn-success btn-md'%>
                            <h3>Contacts</h3>
                                

                            <table class="black-text table-responsive table-bordered table table-condensed white-bg">
                            <tr>
                              <th>Name</th>
                              <th>Phone</th>
                              <th>Email</th>
                            </tr>
                            <% @opportunity.customers.each do |customer| %>
                            <tr>
                              <td><%= link_to customer.customer_first_name.upcase + " " + customer.customer_last_name.upcase, customer %></td>
                              <td><%= customer.customer_phone %></td>
                              <td class = "hidden-sm hidden-md hidden-lg"><a href="mailto:<%= customer.customer_email.to_s.downcase %>"><%= 'Email' %></a></td>
                              <td class = "hidden-xs"><a href="mailto:<%= customer.customer_email.to_s.downcase %>"><%= customer.customer_email.to_s.downcase %></a></td>
                            </tr>
                            <% end %>
                            </table>
                            <%= link_to "<span class=\"fa fa-plus\">    Contact</span>".html_safe, new_customer_path, :class => 'btn btn-success btn-md'%>
                            
                      
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/dashboard_bottom'%>