    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav nav-stacked nav-tabs">
                <li><%= link_to ' Dashboard', dashboard_path,class: "dash-btn btn btn-primary btn-md btn-block"%></li>
                <li><%= link_to 'Tasks', tasks_path,class: "dash-btn btn btn-primary btn-md btn-block"  %></li>
                <li><%= link_to 'Leads', leads_path,class: "dash-btn btn btn-primary btn-md btn-block"  %></li>
                <li><%= link_to 'Customers', customers_path,class: "dash-btn btn btn-primary btn-md btn-block"  %></li>
                <li><%= link_to 'Opportunities', opportunities_path,class: "dash-btn btn btn-primary btn-md btn-block"  %></li>
                <li><%= link_to 'Accounts', accounts_path, class: "dash-btn btn btn-primary btn-md btn-block" %></li>
                <li><%= link_to 'Add Task', new_task_path, class: "dash-btn btn btn-warning btn-md btn-block" %></li>
                <li><%= link_to 'Add Lead', new_lead_path, class: "dash-btn btn btn-warning btn-md btn-block" %></li>
                <li><%= link_to 'Add Customer', new_customer_path, class: "dash-btn btn btn-warning btn-md btn-block" %></li>
                <li><%= link_to 'Add Opportunity', new_opportunity_path, class: "dash-btn btn btn-warning btn-md btn-block" %></li> 
                <li><%= link_to 'Add Account', new_account_path, class: "dash-btn btn btn-warning btn-md btn-block" %></li>
                </ul>            
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-warning btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                                </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">