    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><%= link_to 'Dashboard', dashboard_path %>
                </li>
                <li><%= link_to 'Tasks', tasks_path %>
                </li>
                <li><%= link_to 'Leads', leads_path %>
                </li>
                <li><%= link_to 'Customers', customers_path %>
                </li>
                <li><%= link_to 'Opportunities', opportunities_path %>
                </li>
                <li><%= link_to 'Account', accounts_path %>
                </li>
                <li><a>Import</a></li>

            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-warning btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                                </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">