    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav nav-stacked nav-tabs">      
<hr>
<li><%= link_to "<span class=\"fa fa-tachometer\"> Dashboard</span>".html_safe, dashboard_path('messages')%></li>
<hr>
<li><%= link_to "<span class=\"fa fa-plus\">    Task</span>".html_safe, new_task_path('messages')%></li>
<!-- <li><%= link_to "<span class=\"fa fa-plus\">    Lead</span>".html_safe, new_lead_path('messages')%></li>
 --><li><%= link_to "<span class=\"fa fa-plus\">    Contact</span>".html_safe, new_customer_path('messages')%></li>
<li><%= link_to "<span class=\"fa fa-plus\">    Opportunity</span>".html_safe, new_opportunity_path('messages')%></li>
<li><%= link_to "<span class=\"fa fa-plus\">    Account</span>".html_safe, new_account_path('messages')%></li>

<hr>
<li><%= link_to "<span class=\"fa fa-check-square-o\"> Tasks</span>".html_safe, tasks_path('messages')%></li>
<!-- <li><%= link_to "<span class=\"fa fa-star\"> Leads</span>".html_safe, leads_path('messages')%></li>
 --><li><%= link_to "<span class=\"fa fa-group\">    Contacts</span>".html_safe, customers_path('messages')%></li>
<li><%= link_to "<span class=\"fa fa-dollar\">    Opportunities</span>".html_safe, opportunities_path('messages')%></li>
<li><%= link_to "<span class=\"fa fa-building-o\">    Accounts</span>".html_safe, accounts_path('messages')%></li>

                </ul>            
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-warning btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                                </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
