<% @add_path = new_account_path %>
<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Account List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Account List</h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">ACCOUNTS</h3>
  </div>
  <div class="panel-body">
    <small class="black-text"><%= page_entries_info @accounts %></small>
    <div class="list-group">
      <% if @accounts.empty?%>
                 <div class="text-center black-text">
                  "<%= link_to "Add your first account here or click +Account".html_safe, new_account_path('messages')%>"
                </div>
                  <%end%>
      <% @accounts.each do |account| %>
      <div class ="task">
        <div class="panel-heading black-text bg-info">
          
          <address>
            <strong><%= link_to account.account_name.to_s.upcase, account%></strong><br>
            Address:<%= account.account_address.to_s.titlecase %> <br>
            <%= account.account_city.to_s.titlecase %><br>
            <%= account.account_state.to_s.titlecase %>
            <%= account.account_country.to_s.titlecase %> <%= account.account_postcode.to_s.capitalize %><br>
            Phone:<%= account.account_phone.to_s.capitalize %>
          </address>
           <%= link_to 'Edit', edit_account_path(account) %>|<%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Show', account %>
        </div>
      </div>
      <hr>
      <% end %>
      <%= paginate @accounts , :window => 2%>
    </div>
  </div>
</div>



<%= render 'layouts/dashboard_bottom'%>