<% @add_path = new_account_path %>
<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Account List</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Account List</h2>
</div>

<div class="panel hidden-md hidden-lg panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Accounts - Sort by <%= content_tag :th, sort_link(@q, :account_name, 'Name', default_order: :desc) %></h3>
  </div>
  <div class="panel-body">
    <small class="black-text"><%= page_entries_info @accounts%></small>
    <div class="list-group">
       <% if @accounts.empty?%>
       <br>
                 <div class="text-center black-text">
                  <%= link_to "Add your first account here or click +Account".html_safe, new_account_path%>
                </div>
                  <%end%>
      <% @accounts.each do |account| %>
      <div class ="">
        <div class="panel-heading black-text bg-info">
           <table class="black-text table-responsive table-bordered table-condensed table table-condensed white-bg">
              <tr>
                <th>Name:</th>
                <th><%= link_to account.account_name.upcase, account %></th>
              </tr>
              <tr>
              <td>Address:</td>
                <td><address><%= account.account_address.to_s.titlecase %>
            <%= account.account_city.to_s.titlecase %>
            <%= account.account_state.to_s.titlecase %>
            <%= account.account_country.to_s.titlecase %> <%= account.account_postcode.to_s %></address></td>
              </tr>
               <tr>
                <td>Phone:</td>
                <td><%= account.account_phone.to_s.capitalize %></td>
              </tr>
              <tr>
                <td>Contacts:</td>
              <td><% account.customers.each do |customer| %>
            <%= link_to customer.customer_first_name.upcase + " " + customer.customer_last_name.upcase, customer %>
            <% end %></td>
            </tr>
            <tr>
                <td>Opportunities:</td>
              <td><% account.opportunities.each do |opportunity| %>
            <%= link_to opportunity.opportunity_name.upcase, opportunity %>
            <% end %></td>
            </tr>
              <tr>
                <td>
            <strong><%= link_to 'Edit', edit_account_path(account) %>|<%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
            </td>
            <td>
            </td>
              </tr>
            </table>

        </div>
        
      </div>
      <% end %>
      <%= paginate @accounts , :window => 2%>
    </div>
  </div>
</div>

<div class="panel panel-info hidden-xs hidden-sm">
  <div class="panel-heading"><h3 class="panel-title">Accounts</h3></div>
  <div class="panel-body">
    <p><small class="black-text task-info"><%= page_entries_info @accounts%></small></p>
    <%= paginate @accounts , :window => 2%>
  </div>
  <table class="table black-text table-striped white-bg">
    </tr>
      <th><%= sort_link(@q, :account_name, 'Name', default_order: :desc) %></th>
      <th><%= sort_link(@q, :id, 'ID', default_order: :desc) %></th>
      <th><%= sort_link(@q, :account_phone, 'Phone', default_order: :desc) %></th>
      <th><%= sort_link(@q, :customer_id, 'Contacts', default_order: :desc) %></th>
      <th><%= sort_link(@q, :opportunity_id, 'Opportunities', default_order: :desc) %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
   <% @accounts.each do |account| %>
    </tr>
      <td><%= link_to account.account_name.upcase, account %></td>
      <td><%= account.id %></td>
     <td><%= account.account_phone.to_s.capitalize %></td>
     <td><% account.customers.each do |customer| %>
            <%= link_to customer.customer_first_name.upcase + " " + customer.customer_last_name.upcase, customer %>
            <% end %></td>
     <td><% account.opportunities.each do |opportunity| %>
            <%= link_to opportunity.opportunity_name.upcase, opportunity %>
            <% end %></td>
     <td><%= link_to 'Edit', edit_account_path(account) %></td>
     <td><%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
<div id="pagination">
<%= paginate @accounts , :window => 2 %>
</div>
</div>

<p class="white-txt">
  Download:
  <%= link_to "CSV", accounts_path(format: "csv") %> |
  <%= link_to "Excel", accounts_path(format: "xls") %>
</p>
<%= render 'layouts/dashboard_bottom'%>