<%= render 'layouts/dashboard_top'%>

<h3><%=@account.account_name%></h3>
<p id="notice"><%= notice %></p>


<p>Account Opportunities</p>
<ul>
  <% @account.opportunities.each do |opportunity| %>
  <li><%= link_to opportunity.opportunity_name, opportunity %> </li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<%= render 'layouts/dashboard_bottom'%>

