<%= render 'layouts/dashboard_top'%>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<%= render 'layouts/dashboard_bottom'%>

